@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

body {
  background-color: #242424;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head h1 {
  font-size: 1.6rem;
  text-decoration: underline;
}

.head .profile-picture {
  width: 7rem;
  height: 7rem;
  border-radius: 7rem;
  border: solid 1px #ffffff;
  margin: 3rem 0 1rem 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.links a {
  margin: 1.8rem 0;
  width: 17rem;
  height: 3.7rem;
  font-size: 1.2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #ffffff;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.361),
    0.8rem 0.8rem 0 #ffffffee;
  transition: box-shadow 0.3s ease-in-out;
}

.links a:hover {
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.361), 0 0 0 #ffffffee;
}

.links a span {
  margin-left: 0.4rem;
}
